front/src/pages/services.pug
extends includes/layout

block variables
   - var title = 'Villa Venezia';



append header
    include includes/header


append content
    main
        .container-fluid
            .intro__images(class='wow fadeIn' data-wow-delay='.3s')
                .intro__images_item
                    img(src='./src/images/icons/feelSun/item1.jpg')
                .intro__images_item
                    img(src='./src/images/icons/feelSun/item2.jpg')

        section.services__header
            .container-fluid
                .services__header_box
                    .services__header_text
                        h2.services__title.title(class='wow fadeIn' data-wow-delay='.2s') Услуги
                        p.services__subtitle.subtitle(class='wow fadeIn' data-wow-delay='.4s') Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка.  В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом. Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле
                    button.services_button.btn-custom.open-popupForm(class='wow fadeIn' data-wow-delay='.3s') Забронировать

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        span.suptitle Бесплатно
                        h3.about-us__content_title.title WiFi по всей территории Отеля
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.



        .about-us.services__elements.reverse
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInRight')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        span.suptitle Бесплатно
                        h3.about-us__content_title.title Парковка на территории Отеля
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Круглосуточная стойка регистрации
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements.reverse
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInRight')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Размещение детей младше 6 лет
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Завтрак входит в стоимость номера
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.


        section
            .containerForm
                .services__form.formBlock
                    .formBlock__text(class='wow fadeInLeft')
                        h1.formBlock__title.title Мини-отель в живописном уголке Одессы
                        p.formBlock__subtitle.subtitle The ultimate sophisticate and arbiter, The St. Regis Venice unfolds a new era of glamour at the city’s finest address on the Grand Canal.
                    form(action='#').form(class='wow fadeInRight')
                        .datepicker-input
                            label(for='arrival') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrival' name='arrival')
                        .datepicker-input
                            label(for='departure') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departure' name='departure')
                        .guests-input
                            label(for='guests') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guests' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                                //span.guests-label гость
                        button.btn-custom.form__button ИСКАТЬ
        .popup#formPopup
            .popup__block
                .popup__block_close.close-popup
                    span
                    span
                .popup__block_form.formBlock
                    form(action='#').form
                        .datepicker-input
                            label(for='arrivalPopup') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrivalPopup' name='arrival')
                        .datepicker-input
                            label(for='departurePopup') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departurePopup' name='departure' )
                        .guests-input
                            label(for='guestsPopup') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guestsPopup' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                        button.btn-custom.form__button ИСКАТЬ



append footer
    include includes/footer

front/dist/services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link
      rel="shortcut icon"
      href="src/images/icons/favicon.png"
      type="image/png"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/a274c9556f742d6d7af83e629fc1e34f?family=Anglecia+Pro+Dsp+Md"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    />
    <title>Villa Venezia</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header dark">
        <div class="container-fluid">
          <nav class="header__nav wow fadeIn">
            <div class="header__links">
              <a class="header__links_item" href="aboutUs.html">О нас</a
              ><a class="header__links_item" href="services.html">Услуги</a
              ><a class="header__links_item" href="contacts.html">Контакты</a>
              <div class="header__multi">
                <a class="header__multi_item active" href="#">Ua</a
                ><a class="header__multi_item" href="#">Ru</a
                ><a class="header__multi_item" href="#">En</a>
              </div>
              <select class="header__multi_select"
                ><option><a class="header__multi_item" href="#">Ua</a></option
                ><option><a class="header__multi_item" href="#">Ru</a></option
                ><option
                  ><a class="header__multi_item" href="#">En</a></option
                ></select
              >
            </div>
            <div class="header__logo">
              <a href="index.html"
                ><img src="/images/icons/logoDarkBig.svg" alt="logo"
              /></a>
            </div>
            <div class="header__contacts">
              <a
                class="header__contacts_map"
                href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru"
                target="_blank"
                ><img
                  src="/images/icons/IconMapGold.svg"
                  alt="Map"
                /><span>Ул. Каманина,16</span></a
              ><a class="header__contacts_tel" href="tel:+380961234567"
                ><img
                  src="/images/icons/IconTelGold.svg"
                  alt="Phone"
                /><span>+38 (096) 123 45 67</span></a
              >
              <div class="burger" id="open"><span></span><span></span></div>
            </div>
          </nav>
          <div class="modal__container">
            <div class="header__nav">
              <div class="header__links">
                <select class="header__multi_select"
                  ><option><a class="header__multi_item" href="#">Ua</a></option
                  ><option><a class="header__multi_item" href="#">Ru</a></option
                  ><option
                    ><a class="header__multi_item" href="#">En</a></option
                  ></select
                >
              </div>
              <div class="header__logo">
                <a href="index.html"
                  ><img src="src/images/icons/logoDark.svg" alt="logo"
                /></a>
              </div>
              <div class="header__contacts">
                <a class="header__contacts_tel" href="tel:+380961234567"
                  ><img src="/images/icons/IconTelDark.svg" alt="Phone"
                /></a>
                <div class="burger active" id="close">
                  <span></span><span></span>
                </div>
              </div>
            </div>
            <div class="modal__links">
              <a class="modal__link title" href="aboutUs.html">О нас</a
              ><a class="modal__link title" href="services.html">Услуги</a
              ><a class="modal__link title" href="contacts.html">Контакты</a>
              <div class="footer__contacts_item">
                <a
                  class="street modal__street"
                  href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru"
                  target="_blank"
                  >Ул. Каманина,16</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="container-fluid">
          <div class="intro__images wow fadeIn" data-wow-delay=".3s">
            <div class="intro__images_item">
              <img src="src/images/icons/feelSun/item1.jpg" />
            </div>
            <div class="intro__images_item">
              <img src="/images/icons/feelSun/item2.jpg" />
            </div>
          </div>
        </div>
        <section class="services__header">
          <div class="container-fluid">
            <div class="services__header_box">
              <div class="services__header_text">
                <h2
                  class="services__title title wow fadeIn"
                  data-wow-delay=".2s"
                >
                  Услуги
                </h2>
                <p
                  class="services__subtitle subtitle wow fadeIn"
                  data-wow-delay=".4s"
                >
                  Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                  Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                  бесплатная охраняемая парковка. В отеле работают крытый и
                  открытый бассейны, а также имеется гидромассажная ванна под
                  открытым небом. Отель «Вилла Венеция» расположен в 5 минутах
                  ходьбы от пляжа Аркадия на юге Одессы. В числе удобств
                  бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле
                </p>
              </div>
              <button
                class="services_button btn-custom open-popupForm wow fadeIn"
                data-wow-delay=".3s"
              >
                Забронировать
              </button>
            </div>
          </div>
        </section>
        <div class="about-us services__elements">
          <div class="container-fluid">
            <div class="about-us__content">
              <div class="about-us__content_img wow fadeInLeft">
                <img
                  src="src/images/icons/aboutUs/Villa.jpg"
                  alt="about us photo"
                />
              </div>
              <div
                class="about-us__content_text wow fadeIn"
                data-wow-delay=".2s"
              >
                <span class="suptitle">Бесплатно</span>
                <h3 class="about-us__content_title title">
                  WiFi по всей территории Отеля
                </h3>
                <div class="about-us__content_description subtitle">
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us services__elements reverse">
          <div class="container-fluid">
            <div class="about-us__content">
              <div class="about-us__content_img wow fadeInRight">
                <img
                  src="src/images/icons/aboutUs/Villa.jpg"
                  alt="about us photo"
                />
              </div>
              <div
                class="about-us__content_text wow fadeIn"
                data-wow-delay=".2s"
              >
                <span class="suptitle">Бесплатно</span>
                <h3 class="about-us__content_title title">
                  Парковка на территории Отеля
                </h3>
                <div class="about-us__content_description subtitle">
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us services__elements">
          <div class="container-fluid">
            <div class="about-us__content">
              <div class="about-us__content_img wow fadeInLeft">
                <img
                  src="src/images/icons/aboutUs/Villa.jpg"
                  alt="about us photo"
                />
              </div>
              <div
                class="about-us__content_text wow fadeIn"
                data-wow-delay=".2s"
              >
                <h3 class="about-us__content_title title">
                  Круглосуточная стойка регистрации
                </h3>
                <div class="about-us__content_description subtitle">
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us services__elements reverse">
          <div class="container-fluid">
            <div class="about-us__content">
              <div class="about-us__content_img wow fadeInRight">
                <img
                  src="src/images/icons/aboutUs/Villa.jpg"
                  alt="about us photo"
                />
              </div>
              <div
                class="about-us__content_text wow fadeIn"
                data-wow-delay=".2s"
              >
                <h3 class="about-us__content_title title">
                  Размещение детей младше 6 лет
                </h3>
                <div class="about-us__content_description subtitle">
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us services__elements">
          <div class="container-fluid">
            <div class="about-us__content">
              <div class="about-us__content_img wow fadeInLeft">
                <img
                  src="src/images/icons/aboutUs/Villa.jpg"
                  alt="about us photo"
                />
              </div>
              <div
                class="about-us__content_text wow fadeIn"
                data-wow-delay=".2s"
              >
                <h3 class="about-us__content_title title">
                  Завтрак входит в стоимость номера
                </h3>
                <div class="about-us__content_description subtitle">
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                  <p>
                    Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа
                    Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и
                    бесплатная охраняемая парковка. В отеле работают крытый и
                    открытый бассейны, а также имеется гидромассажная ванна под
                    открытым небом.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section>
          <div class="containerForm">
            <div class="services__form formBlock">
              <div class="formBlock__text wow fadeInLeft">
                <h1 class="formBlock__title title">
                  Мини-отель в живописном уголке Одессы
                </h1>
                <p class="formBlock__subtitle subtitle">
                  The ultimate sophisticate and arbiter, The St. Regis Venice
                  unfolds a new era of glamour at the city’s finest address on
                  the Grand Canal.
                </p>
              </div>
              <form class="form wow fadeInRight" action="#">
                <div class="datepicker-input">
                  <label for="arrival"
                    >Заезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="arrival" name="arrival" />
                </div>
                <div class="datepicker-input">
                  <label for="departure"
                    >Выезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="departure" name="departure" />
                </div>
                <div class="guests-input">
                  <label for="guests"
                    >Количество гостей<img src="/images/icons/Guests.svg"
                  /></label>
                  <div class="guests-placeholder">
                    <input
                      type="number"
                      placeholder="число"
                      id="guests"
                      value="1"
                      name="guests"
                      inputmode="numeric"
                      onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');"
                    /><!--span.guests-label гость-->
                  </div>
                </div>
                <button class="btn-custom form__button">ИСКАТЬ</button>
              </form>
            </div>
          </div>
        </section>
        <div class="popup" id="formPopup">
          <div class="popup__block">
            <div class="popup__block_close close-popup">
              <span></span><span></span>
            </div>
            <div class="popup__block_form formBlock">
              <form class="form" action="#">
                <div class="datepicker-input">
                  <label for="arrivalPopup"
                    >Заезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="arrivalPopup" name="arrival" />
                </div>
                <div class="datepicker-input">
                  <label for="departurePopup"
                    >Выезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="departurePopup" name="departure" />
                </div>
                <div class="guests-input">
                  <label for="guestsPopup"
                    >Количество гостей<img src="/images/icons/Guests.svg"
                  /></label>
                  <div class="guests-placeholder">
                    <input
                      type="number"
                      placeholder="число"
                      id="guestsPopup"
                      value="1"
                      name="guests"
                      inputmode="numeric"
                      onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');"
                    />
                  </div>
                </div>
                <button class="btn-custom form__button">ИСКАТЬ</button>
              </form>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container-fluid">
          <div class="footer__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13082.97417722155!2d30.738997036803784!3d46.42181263767702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6347833445ad3%3A0xac1130b8391b8dd6!2z0YPQuy4g0JrQsNC80LDQvdC40L3QsCwgMTYsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1620735369161!5m2!1sru!2sua"
              width="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="footer__content">
            <div class="footer__reservation wow fadeInLeft">
              <h3 class="footer__reservation_title titleMin">
                Уютный мини-отель
              </h3>
              <p class="footer__subtitle">
                Отель расположен в курортной зоне Одессы — Аркадии. Улица
                Дерибасовская, Потёмкинская лестница, а также Музей Пушкина
                находятся в 6 км.
              </p>
              <button class="btn-custom footer__reservation_btn open-popupForm">
                Забронировать
              </button>
            </div>
            <div class="footer__contacts wow fadeInRight">
              <h3 class="footer__contacts_title titleMin">Контакты</h3>
              <ul class="footer__contacts_items">
                <li class="footer__contacts_item">
                  <a
                    class="street"
                    href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru"
                    target="_blank"
                    >Ул. Каманина,16</a
                  >
                </li>
                <li class="footer__contacts_item">
                  <a class="tel" href="tel:+380961234567"
                    >+38 (096) 123 45 67</a
                  >
                </li>
                <li class="footer__contacts_item">
                  <a class="tel" href="tel:+380482346934"
                    >+38 (048) 234 69 34</a
                  >
                </li>
                <li class="footer__contacts_item">
                  <a class="mail" href="mailto:venice.hot@gmail.com"
                    >venice.hot@gmail.com</a
                  >
                </li>
                <li class="footer__contacts_item">
                  <a
                    class="inst"
                    href="https://instagram.com/villavenezia_villaneapol_hotel?utm_medium=copy_link"
                    target="_blank"
                    ><img src="src/images/icons/IconInstGold.svg"/></a
                  ><a class="fb" href="#" target="_blank"
                    ><img src="src/images/icons/IconFbGold.svg"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__copiryght wow flipInX" data-wow-delay=".2s">
            <p class="copyright">
              Copyright © 2021 villa-venezia.com.ua. All rights reserved.
            </p>
            <p>
              <a class="cmdX" href="https://comnd-x.com/" target="_blank"
                >by Command+X</a
              >
            </p>
          </div>
        </div>
        <div class="popup" id="formPopup">
          <div class="popup__block">
            <div class="popup__block_close close-popup">
              <span></span><span></span>
            </div>
            <div class="popup__block_form formBlock">
              <form class="form" action="#">
                <div class="datepicker-input">
                  <label for="arrivalPopup"
                    >Заезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="arrivalPopup" name="arrival" />
                </div>
                <div class="datepicker-input">
                  <label for="departurePopup"
                    >Выезд<img src="src/images/icons/calendar.svg"/></label
                  ><input type="text" id="departurePopup" name="departure" />
                </div>
                <div class="guests-input">
                  <label for="guestsPopup"
                    >Количество гостей<img src="/images/icons/Guests.svg"
                  /></label>
                  <div class="guests-placeholder">
                    <input
                      type="number"
                      placeholder="число"
                      id="guestsPopup"
                      value="1"
                      name="guests"
                      inputmode="numeric"
                      onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');"
                    />
                  </div>
                </div>
                <button class="btn-custom form__button">ИСКАТЬ</button>
              </form>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.boomcdn.com/libs/wow-js/1.3.0/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    ></script>
    <script type="text/javascript" src="js/bundle.js"></script>
  </body>
</html>
